body{ /* achtergrond */
    background-color: #20242c;
}
h1 { /* voor h1 */
    color: #5DD6F5;
    text-align: center;
    font-family: header,serif;
}
p {
    color: #5DD6F5;
    text-align: center;
    font-family: header, serif;
}
a {
    color: #5DD6F5;
    text-align: center;
    font-family: header, serif;
    text-decoration: none;
}


/*noinspection ALL*/
L {
    color: #321DE5;
    text-align: center;
    font-family: header, serif;
    text-decoration: none;
    position: absolute;
    left: 170px;
    text-shadow:
            -0.5px -0.5px 0 #5DD6F5,
            0.5px -0.5px 0 #5DD6F5,
            -0.5px 0.5px 0 #5DD6F5,
            0.5px 0.5px 0 #5DD6F5;
}

/*noinspection ALL*/
R {
    color: #321DE5;
    text-align: center;
    font-family: header, serif;
    text-decoration: none;
    position: absolute;
    right: 250px;
    text-shadow:
            -0.5px -0.5px 0 #5DD6F5,
            0.5px -0.5px 0 #5DD6F5,
            -0.5px 0.5px 0 #5DD6F5,
            0.5px 0.5px 0 #5DD6F5;
}
@font-face { /* Font header */
    font-family: header;
    src: url("../font/DelaGothicOne-Regular.ttf");
}
@font-face { /* Font body */
    font-family: body;
    src: url("../font/Rambla-Regular.ttf");
}
.balky {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space items evenly */
    background-color: #1303a1;
    font-family: body, sans-serif;
    width: 100%;
    position: relative; /* Add this for absolute positioning */
}

.balk { /*left */
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 26px 16px;
    text-decoration: none;
}
.balk1 { /* right */
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 26px 16px;
    text-decoration: none;
}
.balk_midden {
    float: none;
    display: block;
    position: absolute;
    left: 47.5%;
    color: white;
    text-align: center;
    padding: 0 0;
    text-decoration: none;
    border: #3e60fc;
}
.balk_tekst {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

li a:hover:not(.active) {
    background-color: #4EB5CF;
}

.active {
    background-color: #1502c2;
}


.button{
    color: #ffffff;
    background-color: #1303a1;
    border: none;
    height:92px;
    width:92px;
}

#myInput {
    box-sizing: border-box;
    background-image: url('../img/Magnifier.png');
    background-size: 10%;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-color: #20242c;
    color: #ffffff;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ffffff;
}

#myInput:focus {outline: 3px solid #ffffff;}

.dropdown {
    position: absolute;
    left: 10px;
    bottom: 0;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #20242c;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 2;
    top: 100%; /*178  Adjust this value to control the vertical position */
    left: -10%;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Arial, serif;
}

.button:hover {
    background-color: #4EB5CF;
}

.show {display: block;}

.dropdown-container {
    position: absolute;
    top: 100%;
    left: -120px; /* Adjust this value to control the horizontal position */
    width: 120px;
    display: none; /* Hide it by default */
    flex-direction: column; /* Stack dropdown items vertically */
}

.nav-item {
    margin-left: 10px; /* Add some spacing between items */
}

.nav-items {
    display: flex; /* Use flexbox for non-dropdown items */
    align-items: center; /* Vertically center non-dropdown items */
}

.nav-items-right {
    display: flex; /* Use flexbox for right items */
    align-items: center; /* Vertically center right items */
}

/* --------------------------------------------------------/\ basis CSS /\---------------------------------------------------------------------*/

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #4EB5CF;
    border-radius: 5px;
    background-color: #1303a1;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    color: white;
}
h2 {
    color:white;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #3e60fc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1303a1;
}
