.column{

}
.product {
    padding-left: 50px;
}
.product-img{
    width:  300px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    padding: 10px;
}
.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
    opacity: 1;
}
.mySlides{
    display: none;
}
.product-text{
    color: #4EB5CF;
    right: -40%;
}
