



input.largerCheckbox {
    width: 300px;
    height: 150px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #dddddd;
    margin-top: 100px;
}

table {
    border: 3.5px solid #dddddd;
    border-radius: 10px;
    margin-top: auto;
}

.center {
    margin-left: 180px;
    margin-right: 1px;
}





