body{ /* achtergrond */
    background-color: #20242c;
}
h1 { /* voor h1 */
    color: #5DD6F5;
    text-align: center;
    font-family: header,serif;
}
@font-face { /* Font header */
    font-family: header;
    src: url("font/DelaGothicOne-Regular.ttf");
}
@font-face { /* Font body */
    font-family: body;
    src: url("font/Rambla-Regular.ttf");
}
.balky {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1303a1;
    font-family: body,sans-serif;
}

.balk {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
}
.balk1 {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 26px 16px;
    text-decoration: none;
}
.balk_midden {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 26px 16px;
    text-decoration: none;
    border: #3e60fc;
}

li a:hover:not(.active) {
    background-color: #4EB5CF;
}

.active {
    background-color: #1502c2;
}

.signup {
    color: aqua;
    text-align: center;

}